body
{ margin: 0;
  font-family: Arial;
  color: whitesmoke;
  background-color: aliceblue;
}

.navbar
{background-color: midnightblue;
 padding: 20px}

.navbar ul
{list-style: none;
 display: flex;
 justify-content: center;
 gap: 30px;
 margin: 0;
 padding: 0;}

.navbar ul li a 
 {color: whitesmoke;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;}

.navbar ul li a:hover
{ text-decoration:underline; }


.contact-container
{
display: flex;
gap: 30px;
padding: 40px;
max-width: 1200px;
margin: auto;  
}

.map-box,
.contact-box
{
background: white;
border-radius: 10px;
padding: 20px;  
}

.map-box 
{flex: 1}

.map-box iframe
{
width: 100%;
height: 400px;
border:none;
border-radius: 10px;  
}

.contact-box h2
{color: darkblue;}

.info{
margin-top: 20px;
}

.info h4
{
margin-bottom: 5px;
color: darkblue;  
}

.info p
{
  color: darkblue;
}
.whatsapp
{
display: inline-block;
margin-top: 10px;
background: seagreen;
color: white;  
padding: 8px;
border-radius: 20px;
text-decoration: none;
font-weight: bold;
}


.footer
{
background: white;
padding: 40px 80px;  
color: darkblue;

}

.footer-top
{
display: flex;  
justify-content: space-between;
text-align: center;
gap: 30px;
}

.footer-box span
{
font-size: 30px;  
display: block;
margin-bottom: 10px;
}

.footer-box h4
{margin-bottom: 10px;
color: darkblue;
}

.footer-box p
{
font-size: 14px;
color: black;  

}

.footer-medsoc

{
text-align: right;  
margin: 20px 0;
}

.footer-medsoc  .icons a
{
display: inline-block;
width: 35px;
height: 35px;
line-height: 35px;
text-align: center;
background: lightgrey;
border-radius: 50%;
margin-left: 8px;
text-decoration: none;
color: black;
}


.footer-top
{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 14px;

}

.footer-medsoc a
{
margin-left: 15px;
text-decoration: none;
color: black;

}

.footer-medsoc a:hover;
{text-decoration: underline;}

.contact-box p
{color: darkblue;}